

.main {
    background-color: rgb(221, 221, 96);
}
h1 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-decoration: underline;
}
h3 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-decoration: underline;
}
p { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content:center
}
.item1 {
    margin 20px;
    padding: 15px;
}
.item2 {
    margin 20px;
    padding: 15px;
}


.flex-container2 {
    display: flex;
    justify-content: space-around;
}

.itemA {
    margin: 20px;
    padding: 15px;
}

.itemB {
    margin: 20px;
    padding: 15px;
}